#head1{
    text-align: center;
    margin-top: -300px;
    color: rgb(58, 120, 58);
}


#card1{
    margin-left:93px;

}

#card2{
    margin-left:499px;
    margin-top: -300PX;
}

#card3{
    margin-left: 892px;
    margin-top: -300px;
}